.sortable {
    cursor: pointer;
    color: #dd5;
}

.warning {
    background-color: #da8a8a;
}

table {
  color: rgb(17, 17, 17);
  border-radius: 5px;
  overflow: hidden;
  margin: 12px 0;
  min-width: 300px;
  background: #abaeb1;
}

.header-row {
    background: #08697a;
    color: #fff
}

th, td {
    text-align: left;
    margin: 5px 10px;
    padding: 6px;
}
